<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AjouterEtudiantServlet</display-name>
    <servlet-name>AjouterEtudiantServlet</servlet-name>
    <servlet-class>AjouterEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEtudiantServlet</servlet-name>
    <url-pattern>/AjouterEtudiantServlet</url-pattern>
  </servlet-mapping>
  <display-name>projetTry1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Updateinfoensie</display-name>
    <servlet-name>Updateinfoensie</servlet-name>
    <servlet-class>Updateinfoensie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateinfoensie</servlet-name>
    <url-pattern>/Updateinfoensie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterNewModule</display-name>
    <servlet-name>AjouterNewModule</servlet-name>
    <servlet-class>AjouterNewModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterNewModule</servlet-name>
    <url-pattern>/AjouterNewModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterNnieau</display-name>
    <servlet-name>AjouterNnieau</servlet-name>
    <servlet-class>AjouterNnieau</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterNnieau</servlet-name>
    <url-pattern>/AjouterNnieau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterModule</display-name>
    <servlet-name>AjouterModule</servlet-name>
    <servlet-class>AjouterModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterModule</servlet-name>
    <url-pattern>/AjouterModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEtudiant</display-name>
    <servlet-name>AjouterEtudiant</servlet-name>
    <servlet-class>AjouterEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEtudiant</servlet-name>
    <url-pattern>/AjouterEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteModule</display-name>
    <servlet-name>DeleteModule</servlet-name>
    <servlet-class>DeleteModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModule</servlet-name>
    <url-pattern>/DeleteModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFich</display-name>
    <servlet-name>DeleteFich</servlet-name>
    <servlet-class>DeleteFich</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFich</servlet-name>
    <url-pattern>/DeleteFich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteModuleEns</display-name>
    <servlet-name>DeleteModuleEns</servlet-name>
    <servlet-class>DeleteModuleEns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModuleEns</servlet-name>
    <url-pattern>/DeleteModuleEns</url-pattern>
  </servlet-mapping>
</web-app>