* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-flex {
	width: 80vw;
	height: 70vh;
	display: flex;
}

.traitement {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image1 {
	width: 85%;
	height: 85%;
	background-image: url(../images/update.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.inputs {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(31, 65, 102, 255);
}

.form {
	width: 50%;
	height: 80%;
}

.input-flex {
	width: 100%;
	height: 10%;
	display: flex;
}

.icon {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	height: 100%;
	width: 80%;
}

.point {
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputcnt {
	width: 100%;
	height: 100%;
	outline: none;
	box-shadow: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit {
	width: 50%;
	height: 90%;
	border: none;
	text-transform: capitalize;
	background-color: rgb(2, 2, 51);
	color: white;
}

.inpage {
	background-color: black;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 99px;
	left: 131px;
	background-image: url(../images/hi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}